@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brand-emerald: #059669;
  --color-brand-emerald-50: #ECFDF5;
  --color-brand-emerald-100: #D1FAE5;
  --color-brand-emerald-500: #10B981;
  --color-brand-emerald-600: #059669;
  --color-brand-emerald-700: #047857;
  --color-brand-emerald-800: #065F46;
  --color-brand-emerald-900: #064E3B;
  --color-brand-yellow: #F59E0B;
  /* Amber 500 - Warmer, more appetizing */
  --color-brand-gray-50: #F9FAFB;
  --color-brand-gray-100: #F3F4F6;
  --color-brand-gray-700: #374151;
  --color-brand-gray-900: #111827;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}